
venv/
__pycache__/
*.pyc


cookies.txt
cookies_backup.txt


data/raw/
data/processed/*.pt
data/processed/fma_graphs/
data/processed/fma_mel_specs/
data/processed/musiccaps_graphs/
data/processed/musiccaps_text/


!data/processed/*.csv
!data/splits/*.csv


results/*.pt


.ipynb_checkpoints/


.DS_Store
Thumbs.db
